<table class="ui celled table results-container" id="results" style="display: none;">
  <thead>
    <tr>
      <th>Student Group</th>
      <th>Subject</th>
      <th>% Advanced</th>
      <th>% Proficient</th>
      <th>% Basic</th>
      <th>% Below Basic</th>
      <th>Academic Year</th>
    </tr>
  </thead>
  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.student_group %></td>
        <td><%= exam.subject %></td>
        <td><%= exam.pctadvanced %></td>
        <td><%= exam.pctproficient %></td>
        <td><%= exam.pctbasic %></td>
        <td><%= exam.pctbelowbasic %></td>
        <!-- <td><%= exam.grade %></td> -->
        <!-- <td><%= exam.growth %></td> -->
        <!-- <td><%= exam.numscored %></td> -->
        <td><%= exam.academic_year_start %> - <%= exam.academic_year_end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
